{% load static %}

{% static "images" as baseUrl %}

<!Doctype html>
<html lang='en'>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Django Tutorial </title>
    <link rel="stylesheet" type="text/css" href="{% static 'plugins/font-awesome-4.7.0/css/font-awesome.min.css' %}" >

</head>



<body style="background-image:url({% static 'images/home_slider.jpg' %})">
    
    <center> 
        <h1> Welcome to the Login Portal </h1>
    </center><br><br>
    <form action="login" method="post">
    {% csrf_token %}
    <center>
    <input type="text" name="username" placeholder="Username"><br><br>
    <input type="password" name="password1" placeholder="Password"><br><br>
    <input type="Submit">
    </center> 
    </form>


    <div>
        {% for message in messages %}
        <h3><center>
            {{message}}
        </h3></center>
        {% endfor %}
    </div>


</body>

</html>
